@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("photos/timer_background1.jpg") center fixed;
    overflow: hidden;
}

#timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1001px;
    height: 542px;
    border-radius: 25px;
    background: #333;
    box-shadow: 0px 0px 20px 15px rgba(0, 0, 0, 0.5);
}

#button-container {
    position: relative;
    top: 15%;
    width: 70%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

button {
    font-family: 'Voltaire', sans-serif;
    width: 197px;
    height: 54px;
    border-radius: 25px;
    border: 0;
    font-size: 1.2em;
    background: #D3FFD5;
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.5);
    font-size: 35px;
    text-transform: uppercase;
    cursor: pointer;
}

span {
    font-size: 120px;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 0px 0px 10px #FFFFFF;
}

#button-container button:nth-child(2) {
    background: #D3FCFF;
}

#button-container button:nth-child(3) {
    background: #FFD3D3;
}

.ball {
    position: absolute;
    background: white;
    opacity: 0.3;
    animation: ballSize 5s linear infinite;
    border-radius: 50%;
    z-index: -1;
}

.ball:nth-child(n) {
    background-color: #D3FFD5;
}
.ball:nth-child(2n) {
    background-color: #D3FCFF;
}
.ball:nth-child(3n) {
    background-color: #FFD3D3;
}

@keyframes ballSize {
    50% {
        width: 100px;
        height: 100px;
    }
}
